{% extends 'base.html' %}
{% block content %}
<br />
<h2 style="text-align:center">Products Details</h2>


<hr style="border: 0; border-top: 2px solid grey;" />
<div class="container">
    <!-- All these forms are represented in a navbar as icons-->
    <nav class="navbar navbar-light  bg-dark" style="margin-bottom: 20px">


        <!--------------------  Form for handling of dropdown menu------------------->
        <form action="{{ url_for('itemDetail_page')}}" method="POST">

            <div class="dropdown mr-auto">
                <button class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                    {% for cat in categoryList%}
                    <button class="dropdown-item" name="dd" value={{cat.categoryName}} type="submit">{{cat[1]}}</button>


                    {% endfor %}
                    <button class="dropdown-item" name="dd" value="ALL" type="submit">ALL</button>
                </div>

            </div>

        </form>
        <!------------------------------------------------------------------------------------------->



        <!------------------------------- Form for handling search tab , to search items etc ------------------------>
        <form class="form-inline" action="{{ url_for('itemDetail_page')}}" method="POST">


            <input class="form-control mr-sm-2" name="searchContent" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


        </form>
        <!------------------------------------------------------------------------------------------->

    </nav>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>

                <th scope="col">Price</th>
                <th scope="col">GrossPrice</th>
                <th scope="col">SellerID</th>
                <th scope="col">Seller Email</th>
                <th scope="col">Stock</th>
                <th scope="col">Rating</th>
                <th scope="col">Times Rated</th>
                <th scope="col">Category</th>

            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <!-- ---------- -->

            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}$</td>
                <td>{{item[2]}}$</td>

                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[8]}}</td>

                {% endfor %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}