{% extends 'base.html' %}
{% block content %}
<br />
<h2 style="text-align:center">Sellers</h2>


<hr style="border: 0; border-top: 2px solid grey;" />
<table class="table table-info container">
    <thead>
        <tr>
            <th scope=" col">ID</th>

            <th scope="col">Name</th>
            <th scope="col">Email</th>

            <th scope="col">Date of Birth</th>
            <th scope="col">Last Sell Made</th>

        </tr>
    </thead>
    <tbody>

        {% for cus in sellerAllDetails %}
        <tr>

            <th>{{cus.id}}</th>
            <th>{{cus.name|safe }}</th>
            <th>{{cus.email}}</th>
            <th>{{cus.dob}}</th>
            <th>{{cus['latestSellDate']}}</th>

            {% endfor %}
        </tr>



    </tbody>
</table>
{% endblock %}